/*font-family: 'PT Sans', sans-serif;*/

/*common start*/
body{
font-family: 'PT Sans', sans-serif;
font-size: 16px;
font-weight: 400;
color: #010101;
}
/*common end*/


/*header start*/
header{
	padding: 20px 0; 
	background-color: #fcdb00;
}

.logo{

}

.menu{

}
.menu ul li a{
	font-size: 22px;
	font-weight: 700;
	color: #010101 !important;
	padding: 0 35px !important;
}
.menu ul li a:hover{
	color: white !important;

}
.menu ul li:last-child a{
	padding-right: 0 !important;

}
/*header end